<h2 class="primary"> {{title}}<h2>
    <div class="row">
        <div class="btn-group container" aria-label="Basic example" role="group">
          <button type="button" class="btn btn-secondary" [class.active]= "filterBy=='all'" (click)="changeFilter('all')">All Photos</button>
          <button type="button" class="btn btn-secondary" [class.active]= "filterBy=='meme'" (click)="changeFilter('meme')">Meme's</button>
          <button type="button" class="btn btn-secondary" [class.active]= "filterBy=='nicky'" (click)="changeFilter('nicky')">Nicky S Artwork</button>
          <button type="button" class="btn btn-secondary" [class.active]= "filterBy=='peele'" (click)="changeFilter('peele')">Zach P Artwork</button>
        </div>
        <ul id="thumbnailsList">
            <li *ngFor="let image of (visableImages | filter:filterBy)">
            <a [routerLink] = "['/image', image.id]"><img src="{{image.url}}" class="thumb" width="200" height="160" >
                </a>
            </li>
        </ul>
    </div>